[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "chives-blockchain-gui"]
	path = chives-blockchain-gui
	url = https://github.com/LocoSlug/chives-blockchain-gui.git
	branch = main
